@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese');

* {
  font-family: 'Noto Sans', sans-serif;
}

body {
  background: #202727;
  margin: 0;
  color: #fff;
  font-size: 14px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  background: #1e2424;
  height: 44px;
  width: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  position: relative;
  z-index: 64;
}

hr {
  margin: 0;
  border-style: none;
  height: 1px;
  background: #5c6769;
}

#head_wrapper {
  margin: 0 auto;
  width: 700px;
  height: 100%;
  position: relative;
}

#logo {
  width: 82px;
  height: 44px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 28px;
  top: 2px;
}

#chat {
  background: #373e3f;
  margin: 0 auto;
  width: 700px;
  max-height: calc(100vh - 44px);

  overflow: hidden;
}

#chat .chat_title {
  color: #deece8;
  font-weight: bold;
  text-align: center;
  width: auto;
  height: 44px;
  line-height: 44px;
}

.messages {
  max-height: calc(100vh - 89px);
  min-width: 900px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message {
  box-sizing: border-box;
  max-width: 700px;
  margin: 0;
  padding: 16px 32px;
  clear: both;
  cursor: pointer;
}

.message:hover {
  background: #394042;
}

.message > div {
  display: inline-block;
  background: #516b5a;
  padding: 16px;
  border-radius: 5px;
  position: relative;
  max-width: 400px;
}

.message > .me:before {
  content:"";
  border-style: solid;
  border-width: 7px 14px 7px 0;
  border-color: transparent #516b5a transparent transparent;
  position: absolute;
  left: -14px;
  top: 14px;
}

.message > .you {
  background: #4b5d5a;
  display: flex;
  margin-left: auto;
}

.message > .you:after {
  content:"";
  border-style: solid;
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent #4b5d5a;
  position: absolute;
  right: -14px;
  top: 14px;
}

.scrollbar {
  position: fixed;
  top: 89px;
  right: 0;
  width: 3px;
  height: 0;
  background: #5c6769;
  border-radius: 2px;
}
